
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
        .selectDrop {
            margin-top: 5px;
            padding: 10px 5px 10px 10px;
            border: 1px solid purple;
            outline-color: rebeccapurple;
            border-radius: 5px;
            width: 50%;

        }
    </style>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         @RenderSection("Title",true)
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="~/assets/images/favicon.ico" />
      <link rel="stylesheet" href="~/assets/css/backend-plugin.min.css">
      <link rel="stylesheet" href="~/assets/css/backend.css?v=1.0.2">
      <link rel="stylesheet" href="~/assets/vendor/fortawesome/fontawesome-free/css/all.min.css">
      <link rel="stylesheet" href="~/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
      <link rel="stylesheet" href="~/assets/vendor/remixicon/fonts/remixicon.css">
      <link rel="stylesheet" href="~/assets/vendor/icon/dripicons/dripicons.css">  </head>
  <body class="email-chimp ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
      
      <div class="iq-sidebar  sidebar-default ">
          <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
              <a href="#" class="header-logo">
                  <img src="~/assets/images/logo.png" class="img-fluid  light-logo" alt="logo"><h5 class="logo-title text-white ml-3 mt-1">Elvisado</h5>
              </a>
             
              <div class="iq-menu-bt-sidebar ">
                  <svg class="svg-icon feather feather-repeat wrapper-menu animated rotation"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="17 1 21 5 17 9"></polyline>
                  <path d="M3 11V9a4 4 0 0 1 4-4h14"></path><polyline points="7 23 3 19 7 15"></polyline><path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
                  </svg>
              </div>
          </div>
          <div class="data-scrollbar" data-scroll="1">
                @if (@Context.Session.GetString("userRole") == "agent" || @Context.Session.GetString("userRole") =="caissiere")
                {
                                    
                <nav class="iq-sidebar-menu">
                        <ul id="iq-sidebar-toggle" class="iq-menu">
                             <li>
                            <a asp-controller="Aposstille" asp-action="Index" class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-receipt" viewBox="0 0 16 16">
                                        <path d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z" />
                                        <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                      <span class="ml-3">Apostille</span>
                                  </a>
                             </li>
                             <li class="">
                            <a asp-controller="Assurance" asp-action="Index" class="">
                                         <svg class="svg-icon feather feather feather-send" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                         <line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                         </svg>
                                        <span class="ml-3">Assurance</span>
                                    </a>
                                <ul id="campaigns" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                </ul>
                             </li>
                             <li class="">
                            <a asp-controller="Education" asp-action="Index" class="">
                                   
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-border-all" viewBox="0 0 16 16">
  <path d="M0 0h16v16H0V0zm1 1v6.5h6.5V1H1zm7.5 0v6.5H15V1H8.5zM15 8.5H8.5V15H15V8.5zM7.5 15V8.5H1V15h6.5z"/>
</svg>
                                <span class="ml-3">Education</span>
                                    </a>
                                <ul id="contacts" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                </ul>
                             </li>
                             <li class="">
                                    <a asp-controller="Famille" asp-action="Index" class="">
                                    <svg class="svg-icon feather feather feather-users" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="9" cy="7" r="4"></circle>
                                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                    </svg>
                                <span class="ml-3">Famille</span>
                                    </a>
                                <ul id="forms" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                </ul>
                             </li>
                             <li class="">
                            <a asp-controller="Tourism" asp-action="Index" class="">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-flower2" viewBox="0 0 16 16">
  <path d="M8 16a4 4 0 0 0 4-4 4 4 0 0 0 0-8 4 4 0 0 0-8 0 4 4 0 1 0 0 8 4 4 0 0 0 4 4zm3-12c0 .073-.01.155-.03.247-.544.241-1.091.638-1.598 1.084A2.987 2.987 0 0 0 8 5c-.494 0-.96.12-1.372.331-.507-.446-1.054-.843-1.597-1.084A1.117 1.117 0 0 1 5 4a3 3 0 0 1 6 0zm-.812 6.052A2.99 2.99 0 0 0 11 8a2.99 2.99 0 0 0-.812-2.052c.215-.18.432-.346.647-.487C11.34 5.131 11.732 5 12 5a3 3 0 1 1 0 6c-.268 0-.66-.13-1.165-.461a6.833 6.833 0 0 1-.647-.487zm-3.56.617a3.001 3.001 0 0 0 2.744 0c.507.446 1.054.842 1.598 1.084.02.091.03.174.03.247a3 3 0 1 1-6 0c0-.073.01-.155.03-.247.544-.242 1.091-.638 1.598-1.084zm-.816-4.721A2.99 2.99 0 0 0 5 8c0 .794.308 1.516.812 2.052a6.83 6.83 0 0 1-.647.487C4.66 10.869 4.268 11 4 11a3 3 0 0 1 0-6c.268 0 .66.13 1.165.461.215.141.432.306.647.487zM8 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
</svg>
                                    
                                        <span class="ml-3">Tourisme</span>
                                    </a>
                                <ul id="templates" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                </ul>
                             </li>
                             <li class="">
                            <a asp-controller="Traduction" asp-action="Index" class="">
                                    <svg class="feather feather-activity" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                                        <span class="ml-3">Traduction</span>
                                    </a>
                                <ul id="activity" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                </ul>
                             </li>
                             <li class="">
                                    <a asp-controller="Transaction_Dargent" asp-action="Index" class="">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-currency-exchange" viewBox="0 0 16 16">
  <path d="M0 5a5.002 5.002 0 0 0 4.027 4.905 6.46 6.46 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05c0-.046 0-.093.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.46 3.46 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98c-.003.046-.003.097-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5zm16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0zm-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787H8.25zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674l.077.018z"/>
</svg>
                                        <span class="ml-3">Transaction</span>
                                    </a>
                                <ul id="integration" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                </ul>
                             </li>
                             <li class="">
                            <a asp-controller="Dossier" asp-action="Index" class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-folder2" viewBox="0 0 16 16">
  <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 12.5v-9zM2.5 3a.5.5 0 0 0-.5.5V6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5zM14 7H2v5.5a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5V7z"/>
</svg>
                                        <span class="ml-3">Dossiers</span>
                                    </a>
                                <ul id="integration" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                </ul>
                             </li>
                            <li class="">
                                <a asp-controller="DossierparAgence" asp-action="Index" class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-folder-symlink" viewBox="0 0 16 16">
                                        <path d="m11.798 8.271-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742z" />
                                        <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm.694 2.09A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09l-.636 7a1 1 0 0 1-.996.91H2.826a1 1 0 0 1-.995-.91l-.637-7zM6.172 2a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                                    </svg>
                                    <span class="ml-3">Dossier par agence</span>
                                </a>
                                <ul id="integration" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                </ul>
                            </li>
                            <li class="">
                                <a asp-controller="Mes_Virement" asp-action="Index" class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 16 16">
  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
</svg>
                                    <span class="ml-3">Mes Virements</span>
                                </a>
                                <ul id="integration" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                </ul>
                            </li>
                           
                            @if (Context.Session.GetString("userRole") == "caissiere")
                            {
                                <li class="">
                                    <a asp-controller="Virement" asp-action="Recu" class="">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
  <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
</svg>
                                        <span class="ml-3">Virement d'Agence</span>
                                    </a>
                                    <ul id="integration" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="#otherpage" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                                                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
                                            </svg>
                                        </i>
                                        <span>Virement</span>
                                        <i class="las la-angle-right iq-arrow-right arrow-active"></i>
                                        <i class="las la-angle-down iq-arrow-right arrow-hover"></i>
                                    </a>


                                    <ul id="otherpage" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">

                                        <li class="">
                                            <a asp-controller="Virement" asp-action="Fournisseur">
                                                <i class="las la-id-card"></i><span>Fournisseur</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a asp-controller="Virement" asp-action="Employe">
                                                <i class="las la-user-plus"></i><span>Employe</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a asp-controller="Virement" asp-action="Agence">
                                                <i class="las la-list-alt"></i><span>Agence</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                 <li class="">
                                    <a href="#otherpageer" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wallet-fill" viewBox="0 0 16 16">
                                                <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2h-13z" />
                                                <path d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6z" />
                                            </svg>
                                        </i>
                                        <span>Les Virements</span>
                                        <i class="las la-angle-right iq-arrow-right arrow-active"></i>
                                        <i class="las la-angle-down iq-arrow-right arrow-hover"></i>
                                    </a>


                                    <ul id="otherpageer" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">

                                        <li class="">
                                            <a asp-controller="Virement" asp-action="ListeFournisseur">
                                                <i class="las la-id-card"></i><span>Liste des Fournisseurs</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a asp-controller="Virement" asp-action="ListeEmploye">
                                                <i class="las la-user-plus"></i><span>Liste des Employes</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a asp-controller="Virement" asp-action="ListeAgence">
                                                <i class="las la-list-alt"></i><span>Listes des Agences</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                }
                else
                {
                     <div class="col-2 m-0 p-0">
            <div class="iq-sidebar  sidebar-default ">
               
                <div class="data-scrollbar" data-scroll="1">
                    <nav class="iq-sidebar-menu">
                        <ul id="iq-sidebar-toggle" class="iq-menu">
                            <p class=" text-center text-warning">LES DASHBOARD</p>

                            <li class="active">
                                <a href="~/Statistique/dashboard?serviceId=-1&agenceId=-1&dateD=&dateF=&year=-1&Kh=" class="svg-icon">
                                    <img src="~/assets/images/statics.png" width="15%">
                                    <span class="ml-3">statistic</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="~/Statistique/dashboardSalaire?month=-1&year=-1&agenceId=-1" class="svg-icon">
                                    <img src="~/assets/images/statics.png" width="15%">
                                    <span class="ml-3">salaire</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="~/Statistique/dashboardFournisseur?dateD=&dateF=&year=-1" class="svg-icon">
                                    <img src="~/assets/images/statics.png" width="15%">
                                    <span class="ml-3">fournisseur</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="~/Statistique/dashboardTable?serviceId=-1&agenceId=-1&dateD=&dateF=&year=-1&Kh=" class="svg-icon">
                                    <img src="~/assets/images/statics.png" width="15%">
                                    <span class="ml-3">detail</span>
                                </a>
                            </li>
                            <li class="active">
                                            <a asp-controller="Admin" asp-action="addUser" class="svg-icon">
                                                <img src="~/assets/images/employer.png" width="15%">
                                    <span class="ml-3">Utilisateur</span>
                                </a>
                            </li>

                        </ul>

                    </nav>
                    <div class="p-3"></div>
                </div>
                <div class="data-scrollbar" data-scroll="1">

                    <div class="p-3"></div>
                </div>

            </div>
        </div>
                }


              <div class="p-3"></div>
          </div>
          </div>      
          <div class="iq-top-navbar">
          <div class="iq-navbar-custom">
              <nav class="navbar navbar-expand-lg navbar-light">
      
              <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                  <i class="ri-menu-line wrapper-menu"></i>
                  <a href="index.html" class="header-logo">
                  <img src="~/assets/images/logo.png" class="img-fluid  light-logo" alt="logo"><h5 class="logo-title ml-3 mt-1">Elvisado</h5>

                  </a>
                  <div class="navbar-breadcrumb">
                       <h2>Welcome @Context.Session.GetString("userLogin")</h2>
                   </div>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <a asp-controller="User" asp-action="UpdatePassword" class=" btn btn-primary mt-2 mr-3">Modifier Mot de passe</a>
                        </div>
                  <div>
                            <a asp-controller="Authentification" asp-action="Sedeconnecter" class=" btn btn-primary mt-2">Se déconnecter</a>
                  </div>
                
                  </div>
              </nav>
          </div>
      </div>
      <div class="content-page">


      @RenderBody()
   </div>
   <!-- Page end  -->

      </div>

    <!-- Backend Bundle JavaScript -->
    <script src="~/assets/js/backend-bundle.min.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="~/assets/js/table-treeview.js"></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="~/assets/js/sweetalert.js"></script>
    
    <!-- Vectoe Map JavaScript -->
    <script src="~/assets/js/vector-map-custom.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="~/assets/js/chart-custom.js"></script>
    
    <!-- slider JavaScript -->
    <script src="~/assets/js/slider.js"></script>
    
    <!-- app JavaScript -->
    <script src="~/assets/js/app.js"></script>
  </body>
</html>